In [7]:
import pandas as pd
import numpy as np
import os
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.pipeline import Pipeline
import joblib
from sklearn.preprocessing import StandardScaler

In [3]:
dataset_1 = pd.read_csv(r'evaluation (1).csv')

In [5]:
dataset_1.head()

,Unnamed: 0,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.
0,0,1995,6,22,2.00,165.0,-3.3,-1.9,79.4,28.95
1,1,1995,1,13,4.99,156.0,-3.5,-2.2,82.0,27.86
2,2,1995,7,9,-4.97,-125.0,-8.2,1.5,84.2,26.02
3,3,1996,7,17,8.01,165.0,-5.4,-1.0,84.1,28.38
4,4,1993,8,23,2.06,165.0,2.0,0.6,75.4,28.47

In [11]:
dataset_1 = dataset_1.drop(['Unnamed: 0','day'],axis=1)

In [8]:
model = joblib.load(r'random_forest_regressor_final.joblib')

In [25]:
pipe = Pipeline([
#     ('imputer', IterativeImputer(max_iter=10, random_state=42)),
#     ('scaler', StandardScaler()),
    ('model', model)  
])
sc = StandardScaler()

In [24]:
imputer = IterativeImputer(max_iter=10, random_state=42)
dataset_1 = imputer.fit_transform(dataset_1)
dataset_1 = sc.fit_transform(dataset_1)

In [26]:
predictions_1 = pipe.predict(dataset_1)

In [27]:
predictions_1

array([19.5498 , 19.5498 , 19.37804, ..., 19.5498 , 19.38632, 19.54334])

In [28]:
preds_df = pd.DataFrame(predictions_1)

In [29]:
preds_df.to_csv('evaluation.csv')

In [42]:
dataset_2 = pd.read_csv(r'data_97-98.csv')

In [43]:
dataset_2.head()

,Index,year,month,day,latitude,longitude,zon.winds,mer.winds,humidity,air temp.
0,0,1997,1,1,0.07,-110.0,-3.1,1.4,89.6,22.66
1,1,1997,1,2,0.07,-110.0,-2.8,3.0,86.8,22.45
2,2,1997,1,3,0.07,-110.0,-5.2,3.3,85.2,22.14
3,3,1997,1,4,0.07,-110.0,-5.7,1.6,86.8,22.19
4,4,1997,1,5,0.07,-110.0,-5.1,1.5,83.6,22.34

In [44]:
dataset_2 = dataset_2.drop(['Index','day'],axis=1)

In [45]:
dataset_2 = imputer.fit_transform(dataset_2)

In [46]:
dataset_2 = sc.fit_transform(dataset_2)

In [47]:
predictions_2 = pipe.predict(dataset_2)

In [48]:
df_temp = pd.DataFrame(predictions_2)

In [49]:
df_temp.to_csv('1997-98.csv')